/* Geral */
* {
    padding:0;
    margin: 0;
    font-family: Helvetica;
    color:#333 ;
    box-sizing: border-box;
}

.tabela {
    display: grid;
    grid-template-columns: repeat(5,10rem); /* 3 colunas */
    gap: 0.2rem;
    max-width: 600px;
    margin: auto;
    
}

.tabela div {
    display: flex;
    align-items: center;  /* Alinha no centro verticalmente */
    justify-content: center; /* Alinha no centro horizontalmente */
    text-align: center;
    min-height: 10px; /* Garante altura mínima para evitar distorções */
    min-width: 100px;
    padding: 5px;
    border: 2px solid #2253695d;
    border-radius: 3px;
    
}

.risk-selection {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

.proc-selection {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

.input-obs {
    width: 100%;
    border: none;
}

.header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.linha:nth-child(even) {
    background-color: #f8f9fa;
}